body{
font-family: 'Ubuntu', sans-serif;
text-align: center;
}
.bot{
  position: fixed;
    top: 5px;
    left: 10px;
    width: 100px;
    opacity: 0.7;
    z-index: 1;
}
/* Container styling */

.container-fluid{
  padding: 3% 15% 11%;
}

/* logo styling */

.fab fa-apple:hover{
  color: black;
}

/* Download Buttons */

.download-button{
  margin: 5% 5% 5% 0;
}
.download-button:hover{
  background-color: white;
  color: black;
}


/* features styling */
#features{
  padding: 7% 15%;
  background-color: #ffff;
  position: relative;

}
.feature-box{
  padding: 5%;
  font-size: 1rem;
}
.fas{
  color: #ff4c68;
  margin-bottom: 1rem;
}
.fas:hover{
  color: #ff0000;
}
.footer-download-button{
  margin: 2% 1% 5% 1%;
}
.footer-download-button:hover{
  background-color: white;
  color: black;
}
.footer-tag{
  font-size: 2rem;
  color: #ffff;
  padding-top: 30px;
}
.footer-tag:hover{
  color: #000;
}
#footer{
  padding-bottom: 10px;
}
.footer-link{
  color: #000;
  margin: 20px 10px;
}
.footer-link:hover{
  color: #fff;
}
.Copyright{
  color: #000;
}

/* headings */
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
.tindog-Main{
  text-align: left;
}
.tindog-heading{
  font-size: 3rem;
  line-height: 1.5;
}
div h3{
  font-weight: 800 ;
  font-size: 1.47rem;
}
p{
  color: #808080;
}
/* Navbar styles */

.navbar{
  padding: 0 0 4.5rem ;
}
.nav-item{
  padding: 0 20px;
}
.navbar-brand{
  font-size: 2.5rem;
  color: #f8f9fa;
}
.navbar-brand:hover{
  color: #f8f9fa;
  font-size: 2.54rem;
}
.sub-link{
  font-size: 1.1rem;
  font-family: Montserrat-extra-light 200;
  color: 	#b80d57;
}
.sub-link:hover{
  font-size: 1.11rem;
  color: black;
}

.press-img{
  padding: 1rem;
  padding-bottom: 2rem;
}

/* pricing section */
#pricing{
  margin: 100px;
}

/* section */
.color-section{
    background-color: #ff4c68;
}

/* title styling */

#title {
  color: #ffff;
}
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%
}

/* Testimonials */

#testimonials{
  color: #ffff;
}
.textimonial-head{
  font-size: 2.95rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}
.carousel-inner{
  padding: 7% 15%;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
}
@media (max-width:1020px) {
  #title {
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
